@model IEnumerable<Hogar_Dulce_Corazón____Juan_Palacios.Models.Medical_History>

@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color: aliceblue;
    }

        a:hover {
            color: aliceblue
        }
</style>

<br />
<br />
<br />
<br />
<br />
<br />

<h2>Agregar</h2>

<p class="btn btn-primary btn-lg">
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_Type.Name_Blood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Children.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Illness.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blood_Type.Name_Blood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Illness.Description)
            </td>
            <td>
                <p class="btn btn-primary btn-lg">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_MedicalHistory })
                </p>
                <p class="btn btn-primary btn-lg">
                    @Html.ActionLink("Details", "Details", new { id = item.ID_MedicalHistory })
                </p>
                <p class="btn btn-primary btn-lg">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_MedicalHistory })
                </p>
            </td>
        </tr>
    }

</table>
