@model Hogar_Dulce_Corazón____Juan_Palacios.Models.Children

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>Detalles</h2>

<div>
    <h4>Children</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Genre_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Genre_Type)
        </dd>

    </dl>
</div>
<p class="btn btn-primary btn-lg">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Children })
</p>

<p class="btn btn-primary btn-lg">
    @Html.ActionLink("Back to List", "Index")
</p>
